<div class="auth-form-container">
  <div class="auth-form">
    <div class="auth-form__avatar">
      <app-icon [icon]="formSettings?.icon" class="auth-form__icon"></app-icon>
    </div>

    <div class="auth-form__header">
      <div class="auth-form__header-box">
        <h2 class="auth-form__heading">{{ formSettings?.header }}</h2>
        <form *ngIf="authFormType && authForm" [formGroup]="authForm">
          <ng-container *ngIf="authFormType !== 'sign-in'">
            <input
              data-testid="auth-form-first-name"
              placeholder="*First Name"
              spellcheck="false"
              class="input input--light input--regular"
              name="firstName"
              formControlName="firstName"
              autocomplete="off"
            />
            <mat-error
              data-testid="auth-form-first-name-error"
              *ngIf="
                firstName &&
                firstName.invalid &&
                (firstName.dirty || firstName.touched || submitClicked)
              "
              >Name is required</mat-error
            >
            <input
              data-testid="auth-form-last-name"
              placeholder="*Last Name"
              spellcheck="false"
              class="input input--light input--regular"
              name="lastName"
              formControlName="lastName"
              autocomplete="off"
            />
            <mat-error
              data-testid="auth-form-last-name-error"
              *ngIf="
                submitClicked &&
                lastName &&
                lastName.invalid &&
                (lastName.dirty || lastName.touched || submitClicked)
              "
              >Last Name is required</mat-error
            >
          </ng-container>

          <input
            data-testid="auth-form-email"
            placeholder="*Email"
            spellcheck="false"
            type="email"
            class="input input--light input--regular"
            name="email"
            formControlName="email"
            autocomplete="off"
          />
          <mat-error
            data-testid="auth-form-email-error"
            *ngIf="
              email &&
              email.errors &&
              (email.dirty || email.touched || submitClicked)
            "
          >
            {{
              email.errors['required']
                ? 'Email is required'
                : email.errors['email']
                ? 'Email is invalid'
                : ''
            }}
          </mat-error>

          <input
            data-testid="auth-form-password"
            placeholder="*Password"
            type="password"
            spellcheck="false"
            class="input input--light input--regular"
            name="password"
            formControlName="password"
            autocomplete="off"
          />

          <mat-error
            data-testid="auth-form-password-error"
            *ngIf="
              password &&
              password.errors &&
              password.errors['required'] &&
              (password.dirty || password.touched || submitClicked)
            "
            >Password is required</mat-error
          >

          <ng-container *ngIf="authFormType !== 'sign-in'">
            <input
              data-testid="auth-form-confirm-password"
              placeholder="*Confirm Password"
              type="password"
              spellcheck="false"
              class="input input--light input--regular"
              name="confirmPassword"
              formControlName="confirmPassword"
              autocomplete="off"
            />

            <mat-error
              data-testid="auth-form-confirm-password-error"
              *ngIf="
                confirmPassword &&
                confirmPassword.errors &&
                confirmPassword.errors['required'] &&
                (confirmPassword.dirty ||
                  confirmPassword.touched ||
                  submitClicked)
              "
              >Confirm Password is required</mat-error
            >
          </ng-container>

          <mat-error
            data-testid="auth-form-error"
            *ngIf="
              authForm &&
              authForm.errors &&
              (password.dirty || password.touched || submitClicked)
            "
          >
            {{ passwordError }}
          </mat-error>
        </form>
      </div>
    </div>

    <div class="auth-form__btn">
      <app-button
        data-testid="auth-form-button"
        color="primary"
        [buttonType]="buttonType.Flat"
        [icon]="formSettings?.buttonIcon"
        [text]="formSettings?.buttonText"
        (clicked)="onSubmit()"
      ></app-button>
    </div>

    <div *ngIf="authFormType === 'sign-up'" class="auth-form__btn-extra">
      <app-button
        data-testid="auth-form-helper-button-sign-in"
        id="sign-in-helper-btn"
        text="Sign In"
        (clicked)="onClickSignIn()"
      ></app-button>
    </div>
    <div *ngIf="authFormType === 'sign-in'" class="auth-form__btn-extra">
      <app-button
        data-testid="auth-form-helper-button-sign-up"
        id="sign-up-helper-btn"
        text="Sign Up"
        (clicked)="onClickSignUp()"
      ></app-button>
    </div>
  </div>
</div>
