:root {
  --general-font-size: 1.4rem;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --border-radius-xs: 0.4rem;
  --border-radius-small: 0.7rem;
  --border-radius-medium: 1.5rem;
  --border-radius-big: 50%;

  --main-container-max-width: 160rem;
  --main-scrollbar-width: 9px;
}
